#committees_page {
	position: relative;
	background: #e2e6e9;
}

#sponsors_nav {
	position: fixed;
}

#committeespg_content {
	color: #141823;
	background: #e9eaed;
	padding: 3.75em;
	padding-top: 7.75em;
	padding-bottom: 0.75em;
	text-align: center;
}

#committeespg_content_header {
	font-size: 3.5em;
	font-weight: 300;
	margin: 0 auto;
	margin-bottom: 0.5em;
}

.committeespg_subheader {
	font-size: 2em;
	font-weight: 300;
	margin: 0.5em 0 1em 0;
	-webkit-font-smoothing: antialiased;
}

.committeespg_section {
	margin: 0 auto;
}

.com_item_container {
	margin: 0 1.5em;
	display: inline-block;
	width: 280px;
	margin-bottom: 3em;
	height: 230px;
	position: relative;
	cursor: pointer;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	overflow: hidden;
}

.com_item {
	width: 280px;
	height: 180px;
    position: relative;
	border-top-left-radius: 2px; 
	overflow: hidden;
	border-top-right-radius: 2px;
	background: white;
}

.com_item_img_content {
	width: 280px;
	height: 180px;
	text-align: center;
}

.com_item_content {
	padding: 10px;
	font-weight: 500;
	height: 30px;
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 260px;
	background: #f6f7f8;
	color: #161D38;
	line-height: 30px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 0.95em;
	-webkit-transition: all 0.3s cubic-bezier(0.2,0.3,0.25,0.9);
	-webkit-font-smoothing: antialiased;
	border-top: 1px solid #e1e2e3;
}

.modal {
	position: absolute;
	height: 44px;
	width: 49px;
	z-index: 10;
	background: #f6f7f8;
	opacity: 1;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-transition: all 0.2s cubic-bezier(0.2,0.3,0.25,0.9);
	top: -45px;
	right: 0;
	border-left: 1px solid #e1e2e3;
	border-bottom: 1px solid #e1e2e3;
}

.view_icon {
	margin-bottom: -5px;
}

.test {
	display: none;
	height: 100%;
}

.modal_content {
	text-align: center;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	font-weight: 300;
}

.modal_vertical {
	display: table;
	width: 100%;
	height: 100%;
}

.stretch {
	width: auto !important;
	height: 85% !important;
	padding: 5% 0;
}

#echr_page2 {
	background: #e9eaed;
	width: 100%;
}

#info_content_container {
	position: relative;
	margin: 0 auto;

}

#header {
	font-size: 3.5em;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 0.25em;
}

#welcome {
	font-weight: 500;
	line-height: 1.5;
	color: #6a7480;
	text-align: center;
	margin-bottom: 2em;

}

#contact-box2 {
	width: 35%;
	border-radius: 3px;
	background: #2F3855;
	float: right;
	min-width: 26em;
}

#contact-title {
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-weight: 300;
	margin-bottom: 0.75em;
}

.label {
	color: black;
	/display: inline-block;
	font-size: 1.2em;
	margin-top: 1rem;

}


#info_header {
	margin-bottom: 1rem;
	text-align: center;
	padding-top: 2rem;
}

.middle {
	margin: 2rem 0 !important;
}

#info_subheader {
	line-height: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#message-input {
	height: 15em;
	width: 100%;
	max-width: 100%;
	outline: none;
}


.alert-error {
	padding: 15px 10PX;
    background: #f2dede;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    line-height: 1.5;
	font-weight: 500;
}

.alert-success {  
	padding: 15px 10PX;
    background: #dff0d8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    line-height: 1.5;
	font-weight: 500;
}

#terms_container {
	padding: 1.5rem 0; 
	cursor: pointer;
}

ol {list-style-type: upper-roman;}

li {
	margin-top: 1rem;
}

#fields {
	font-size: 1em;
	color: #6a7480;
	padding: 0.5rem 0;
	font-weight: 500;
}

#terms_header {
	font-size: 2em;
	font-weight: 300;
	margin: 0 auto;
}

#terms_content {
	display: none;
}

#info_content2 {
	color: #141823;
	background: white;
	/* padding-top: 2em; */
	-webkit-border-radius: 3px;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

#contact-box-content {
	padding: 2em;
}

.profile {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.contact_picture_container {
    display: inline-block;

    height: 5em;
    width: 5em;
    text-align: center;
}

.description {
	display: inline-block;
	color: white;
	vertical-align: top;
	/* margin-top: -10em; */
	font-weight: 900;
	margin-left: 1rem;
	/* display: none; */
	/* width: 100%; */
	height: 100%;
	/* line-height: 7em; */
	height: 5em;
}


.login-input, textarea {
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;


box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px inset;
color: rgb(85, 85, 85);
cursor: auto;
display: inline-block;
font-size: 13px;
font-weight: normal;
height: 20px;
letter-spacing: normal;


line-height: 20px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: middle;


width: 40%;
word-spacing: 0px;

outline: none;

    border: none;
    outline: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    font-size: 18px;
    padding: 10px 2.5% 10px 2.5%;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    width: 95%;
    color: rgba(74, 74, 74, 0.75);
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px inset;
   }
   

.login-input-error {
	border-bottom-color: #de6868;
}
.login-input:hover, textarea:hover {
    border-bottom-color: rgba(0, 0, 0, 0.25);
}
.login-input:focus, textarea:focus {
    border-bottom-color: #6a7480;
}


.description_table {
    display: table;

    width: 100%;
    height: 100%;
}

.description_container {
    display: table-cell;

    vertical-align: middle;
}

.section {
	margin: 1.5rem 0;
}


#first-section {
	/* margin-top: 0.8em; */
	position: relative;
}
 .subdescription {
 	font-weight: 300;
 	font-size: 1.1em;
 	margin-top: 0.3rem;
 }

 #recaptcha_area, #recaptcha_table {
 	margin: 0 auto;
 }

 #form_content {
 	padding: 0 2rem;
 	padding-bottom: 2rem;
 }

#submit-btn {
	background: #2F3855;
	margin: 0;          
	border-bottom-left-radius: 3px;     text-align: center;     padding: 15px 0px;     transition: linear 0.2s;     -webkit-transition: linear 0.2s;     -moz-transition: linear 0.2s;     cursor: pointer;     border: none;     
	width: 100%;
	/* float: left; */     color: white;     font-size: 16px;     
	font-weight: 600;     line-height: 32px;     
	/* margin-left: 10px; */
	outline: none;
	border: none;
	border-bottom-right-radius: 3px;
}


[class^="icon-"]{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
.iconCheck{
	opacity:0;
}
.icon-ok {
	background-position: -288px 0;
}
.icon-remove{
	background-position: -312px 0;
}




